PORT=3000
WHATSAPP_BOT_URL=http://localhost:3001
SESSION_SECRET=change-me
MONGODB_URI=mongodb://bilaltariq:<db_password>@ac-z9ebeqz-shard-00-00.gcsjylb.mongodb.net:27017,ac-z9ebeqz-shard-00-01.gcsjylb.mongodb.net:27017,ac-z9ebeqz-shard-00-02.gcsjylb.mongodb.net:27017/?ssl=true&replicaSet=atlas-12klt0-shard-0&authSource=admin&appName=Cluster0
SESSION_ID=main-whatsapp-session